*{
    margin: 0;
    padding: 0;
}
:root{
    --navbar-height:10px;
}
#logo img{
    margin: 15px 20px;
    height: 50px;
    flex-direction: column;
}
#navbar{
    display: flex;
    position: relative;
    align-items: center;
    top: 0%;
}
#navbar ul{
    display: flex;

}
#navbar::before{
    position: absolute;
    content:"" ;
    background-color: black;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.5;
}
#navbar ul li{
    list-style: none;
    font-size: 1rem;
}
#navbar ul li a{
    display: block;
    color: white;
    padding: 4px 20px;
    font-family: 'Courier New', Courier, monospace;
    border-radius: 20px;
    text-decoration: none;
    font-size: 1.3rem;
    font-weight: 600;

}
#navbar ul li a:hover{
    color: black;
    background-color: lightgoldenrodyellow;
}
#home{
    display: flex;
    flex-direction: column;
    padding: 10px 200px;
    height: 500px;
    justify-content: center;
    align-items: center;
}
#home::before{
    content: "";
    position: absolute;
    background: url(../images/bacgrounfd\ img.jpg) no-repeat  center center/cover;
    height: 500px;
    width: 100%;
    top: 0%;
    left: 0%;
    opacity: 0.9;
    z-index: -1;
}
#home h1{
    color: rgb(223, 223, 118);
    text-align: center;
    font-size: 2rem;
}
#home p{
    color: white;
    font-size: 1.2rem;
    text-align: center;
    margin: 10px;
    line-height: 40px;
}
.btn{
    padding: 14px 31px;
    border: 2px solid white;
    background-color: rgb(136, 136, 12);
    color: black;
    margin: 17px;
    font-size: 1.2rem;
    border-radius: 30px;
    cursor: pointer;
}
.btn:hover{
    background: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
}
.center{
    text-align: center;
}

#services{
    margin: 10px;
    display: flex;
}
#services .box{
    border: 2px solid yellowgreen;
    padding: 20px;
    border-radius: 5px;
    background-color: rgb(147, 214, 147);
    margin: 2px 4px;
    transition: all 0.8s ease-in;
    transition-duration: 3s;
}
#services .box:hover{
    transform: scale(0.5);
    background-color: rgb(255, 255, 255);
}

#services .box img{
    height: 150px;
    display: block;
    margin: auto;
}
#product-section::before{
    content: "";
    position: absolute;
    background:url(../images/product\ back.png);
    width: 100%;
    height: 100%;
    opacity: 0.9;
    z-index: -1;

}
.product img{
    height: 100px;
    padding: 2px;
    border-radius: 25px;
    border: 2px solid palevioletred;

}

.product{
    display: flex;
     justify-content: center;
    text-align: center;
}

.product .items{
    padding: 10px;
}
#product-section img{
    display: flex;
   
}

#product-section h1{
    text-align: center;
    color: rgb(165, 82, 82);
    padding-top: 20px;

}

.form{
    
    text-align: center;
    border: 2px solid rgb(255, 255, 255);
    margin: 13px 400px  20px 259px;
    padding: 20px;
    width: 40%;
    border-radius: 5px;
    display: block;
    }
.contact-h2{
    text-align: center;
    color: white;

    }

    .form input{
        text-align: center;
        justify-content: center;
        width: 100%;
        display: block; 
        padding: 20px;
        border: 2px solid white; 
        border-radius: 5px;
        margin: 20px auto;
     }
input:hover{
    color: white;
    background-color: rgb(241, 126, 213);
}
.form-group button{
    text-align: center;
    border: 2px solid gray;
    padding: 10px;
    margin: 10px auto;
    width: 40%;
    border-radius: 5px;
    display: block;
}


#contact::before{
    content: "";
    position: block;
    background:url(../images/footer.png);
    width: 100%;
    height: 80%;
    opacity: 0.9;
    z-index: -1;

}

.form{
    
    text-align: center;
    border: 2px solid rgb(255, 255, 255);
    margin: 15px 400px;
    padding: 40px;
    width: 40%;
    border-radius: 25px;
    display: block;
    }


    .form input{
        text-align: center;
        justify-content: center;
        width: 300px;
        display: block; 
        padding: 5px;
        border: 2px solid rgba(255, 255, 255, 0.699); 
        border-radius: 25px;
        margin: 20px auto;
     }

    .footer-1{
        background-color: rgb(0, 0, 0);
        color: white;
        padding: 20px ;
        margin-top: 450px;
        margin-bottom: 0%;

        height: 50px;
        text-align: center;
     }
    
.product img{
    animation: anee;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}
@keyframes anee{
    0%{
        transform:scale(1.1) ;
    }
    50%{
        transform: scale(0.8);
    }
    260%{
        transform: rotate(180deg);
    }
    360%{
        transform: rotate(360deg);
    }
}

